/*

!.gitignore
!README.md
!package-lock.json
!package.json
!tsconfig.json

!src/



!.vscode/
.vscode/*

!.vscode/settings.json



!kubejs/
kubejs/*

!kubejs/assets/
!kubejs/data/
!kubejs/config/
!kubejs/client_scripts/
!kubejs/server_scripts/
!kubejs/startup_scripts/
!kubejs/json/

kubejs/client_scripts/*
!kubejs/client_scripts/src/

kubejs/server_scripts/*
!kubejs/server_scripts/src/

kubejs/startup_scripts/*
!kubejs/startup_scripts/src/



!config/
config/*

!config/tacz/
config/tacz/*
!config/tacz/custom/
config/tacz/custom/*
!config/tacz/custom/_CommandSurvival

!config/puffish_skills/

!config/incontrol/